img { 
    border: 0;
    max-width: 100%;
} 
ul { 
    clear:both;
    overflow:hidden;
    width: 100%;
} 
ul, li {
    float: left;
    list-style:none;
}
ul li:nth-child(even) {
    margin-left: 2%;
}
h1,h2,h3,h4,h5,h6 { 
    font-size: 100%; 
    font-weight: bold 
} 
.productStatus{
    display: flex;
    align-items: center;
    color: #9D9D9D; 
}
.productStatus span{
    text-decoration:line-through;
}
.productPrice{
    display: flex;
    align-items: center;
    color: #EA4C33;
    font-weight: bold;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border-color: #EA4C33;
}
.btn-buy{
    margin-right: 5px;
    color: #EA4C33;
    background-color: white;
}
.btn-basket{
    color: white; 
    background-color: #EA4C33;
}
.firstStyle{
    width: 100%;
    height: 196vw;
}
.firstStyle .header{
    display: flex;
    align-items: center;
    height: 112px;
    padding-left: 30px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #F5F5F5;
}
.firstStyle .header span{
    font-size: 48px;
}
.firstStyle .header img{
    width: 48px;
    height: 48px;
    margin-left: 10px;
}
.firstStyle .banner{
    position: relative;
    width: 100%;
    height: 100vw;
}
.firstStyle .banner img {
    width: 100%;
    height: 100%;
}
.firstStyle .content{
    /* width: 100%; */
    margin-left: 30px;
}
.firstStyle .shop{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 70px;
    color: white;
    font-size: 36px;
    background-color: rgba(0,0,0,.5);        
}
.firstStyle .title{
    margin-top: 32px;
    font-size: 48px;
}
.firstStyle .productStatus{
    font-size: 40px;
}
.firstStyle .productStatus span{
    font-size: 40px;
}
.firstStyle .productPrice{
    font-size: 40px;
}
.firstStyle .productPrice img{
    width: 130px;
    height: 50px;
    margin-right: 2.7px;
}
.firstStyle .productPrice span{
    margin-left: 10px;
    font-size: 60px;
}
.firstStyle .footer{
    display: flex;
    align-items: center;
    margin-left: 30px;
    list-style: none;      
}
.firstStyle .footer button{
    width: 260px;
    height: 120px;
    font-size: 40px;
    border-radius: 100px;
}
.firstStyle .btn-buy{
    margin-right: 20px;
}

/* 第二张图布局 */
.secondStyle{
    width: 100%;
    height: 59.5vw;
}
.secondStyle .left{
    position: relative;
    float: left;
    width: 56vw;
    height: 56vw;
}
.secondStyle .banner{
    width: 100%;
    height: 100%;
}
.secondStyle .shop{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50px;
    color: white;
    font-size: 24px;
    background-color: rgba(0,0,0,.6);
}
.secondStyle .shop img{
    width: 50px;
    height: 50px;
}
.secondStyle .right{
    position: relative;
    float: right;
    width: 44vw;
    height: 56vw;
}
.secondStyle .header{
    padding-bottom: 9px;
    margin-left: 9px;
    text-align: center;
    border-bottom: 2px dashed #F0F0F0;
}
.secondStyle .header div{
    height: 50%;
}
.secondStyle .title{
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 36px;
    font-weight: bold; 
}
.secondStyle .summary{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9D9D9D;
    font-size: 24px;
}
.secondStyle .productPrice{
    font-size: 24px;
}
.secondStyle .productPrice img{
    width: 100px;
    height: 36px;
    margin-right: 10px;
}
.secondStyle .productPrice span{
    margin-left: 10px;
    font-size: 39px;
}
.secondStyle .main{
    margin-left: 9px;
}
.productMade{
    margin-top: 16px;
    font-size: 27px;
    font-weight: bold;
}
.secondStyle .productTitle{
    overflow: hidden; 
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 24px;
}
.secondStyle .productStatus{
    font-size: 24px;
}
.secondStyle .productStatus span{
    font-size: 24px; 
}
.secondStyle .footer{
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    margin-left: 9px;
}
.secondStyle .tips{
    font-size: 18px;
    color: #9D9D9D;
}
.secondStyle .btn{
    margin-top: 6px;
    display: flex;
}
.secondStyle .btn button{
    width: 150px;
    height: 60px;
    border: 3px solid #EA4C33;
}
.secondStyle .btn img{
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
}
.secondStyle .btn span{
    font-size: 18px;
    white-space:nowrap;
    overflow:hidden;
}

/* 第三张图布局*/
.thirdStyle{
    width: 100%;
    height: 45vw;
}
.thirdStyle .left{
    position: relative;
    float: left;
    width: 45vw;
    height: 45vw;
    background-color: gray;
}
.thirdStyle .banner{
    width: 100%;
    height: 100%;
}
.thirdStyle .shop{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50px;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,.7);    
}
.thirdStyle .shop img{
    width: 54px;
    height: 54px;
}
.thirdStyle .right{
    position: relative;
    float: right;
    width: 55vw;
    height: 45vw;
}
.thirdStyle .header{
    margin-left: 18px;
    padding-bottom: 15px;
    border-bottom: 2px dashed #F0F0F0;
}
.thirdStyle .productTitle{
    margin-top: 9px;
    font-size: 30px;
}
.thirdStyle .productStatus{
    font-size: 9px;
}
.thirdStyle .productStatus span{
    font-size: 9px;
}
.thirdStyle .productPrice{
    font-size: 9px;
}
.thirdStyle .productPrice img{
    width: 78px;
    height: 36px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.thirdStyle .productPrice span{ 
    margin-left: 10px;
    font-size: 36px;
}
.thirdStyle .main{
    margin-top: 9px;
    margin-left: 18px;
    color: #9D9D9D; 
    font-size: 25.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.thirdStyle .footer{
    position: absolute;
    bottom: 9px;
    display: flex;
    font-size: 30px;
    margin-left: 18px;
}
.thirdStyle .footer button{
    width: 160px;
    height: 60px;
    font-size: 24px;
    border-radius: 50px;
}
.thirdStyle .btn-buy{
    margin-right: 18px;
}
.thirdStyle .footer span{
    white-space:nowrap;
    overflow:hidden;
}
/* 第四张图的布局 */
.forthStyle{
    width: 100%;
    height: 182vw;
    margin-top: 40px;
    background-color: #EA4433;
    border-radius: 20px;
}
.forthStyle .header{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    font-size: 84px;
    font-weight: bold;
}
.forthStyle .header img{
    width: 100px;
    height: 100px;
}
.forthStyle .main{
    margin: 16px 40px 56px 40px;
    color: white;
    font-size: 54px;
}
.forthStyle .footer{
    margin-left: 40px;
    margin-right: 40px;
}
.forthStyle .footer ul li {
    width: 324px;
    height: 324px;
    margin-bottom: 90px
}
.productBanner{
    width: 324px;
    height: 324px;
}
.productBanner img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.forthStyle .productTitle{
    bottom: 0;
    display: flex;
    align-items: center;
    height: 76px;
    font-size: 30px;
    background-color: #F8F8F8;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.forthStyle .productTitle span{
    font-size: 45px;
    margin-left: 18px;
}
